html,body{
    padding : 0%;
    border : 0%;
    margin: 0%;
    background-color: #36393F;
    height: -webkit-fill-available;
}

.main_container{
    height: 100vh;
    height: -webkit-fill-available;
    width: 100%;
}

.main_container.ios{
    height: 100vh;
    max-height: -webkit-fill-available;
}
.main_container.android{
    height: 100vh;
    height: -webkit-fill-available;
}

.top_container{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top_display_container{
    background-color: #292B2F;
    margin: 0 auto;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-family: 'Noto Sans Myanmar', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
}

.top_display_font{
    width: 100%;
    height: 50%;
}

.volume_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
}

.volume_level_container{
    margin: 0 auto;
    height: 80%;
    width: 80%;

}

.gradient{
    font-family: 'Open Sans', sans-serif;
    font-size: 5rem;
    letter-spacing:8px;
    background-color: #4DBCFF;
    background: linear-gradient(to right,#4DBCFF,#52B7FF,#DA2BFF,#DA2BFF);
    width: 100%;
    height: 35%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px #ac444400;
    animation: animate 1s linear infinite;
    background-size: 108% 105%;
}

.description_container{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans Myanmar', sans-serif;
    font-size: 1.3rem; 
    color: white;
}

.description{
    width: 100%;
    height: 45%;
}

.join_dc_container{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button_container{
    width: 100%;
    height: 55%;
}

.btn{
    font-size: 1.25rem;
    height: 100%;
    border: none;
    color: white;
    background-color: #3981F6;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    /* 1.125rem */
}

@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}


.ani_container{
    /* background-color: blue; */
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ani_one_container{
    background-color: #292B2F;
    margin: 0 auto;
    width: auto;
    height: 45%;
    border-radius: 18px;
}

.footer_container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    font-family: sans-serif;
    color: white;
    letter-spacing: 1px;
}

.footerdisplay{
    margin: 0 auto;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_adjust{
    width: 100%;
    height: 60%;
}

@media screen and (min-width: 601px) and (max-width:864px) {
    .volume_level_container{
        height: 70%;
    }
   .gradient{
        font-size: 2.5rem;
        letter-spacing: 2px;
        height: 30%;

   }
   .volume_level_container{
        width: 90%;
   }
   .top_display_container{
        font-size: 0.9rem;
        height: 50%;
   }
   .top_display_font{
        margin: 0 auto;
        width: 90%;
        height: 35%; 
        /* 55% */
    }
    .description_container{
        margin: 0 auto;
        width: 76%;
        font-size: 0.9rem; 
    }
    .description{
        height: 80%;
    }
    .footer_container{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .button_container{
        height: 45%;
}
    .btn{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 369px) and (max-width:600px) {
    .volume_level_container{
        height: 70%;
    }
   .gradient{
        font-size: 2.5rem;
        letter-spacing: 2px;
        height: 30%;

   }
   .volume_level_container{
        width: 90%;
   }
   .top_display_container{
        font-size: 0.9rem;
        height: 65%;
   }
   .top_display_font{
        margin: 0 auto;
        width: 90%;
        height: 70%;
    }
    .description_container{
        margin: 0 auto;
        width: 76%;
        font-size: 0.9rem; 
    }
    .description{
        height: 80%;
    }
    .footer_container{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .button_container{
        height: 45%;
}
    .btn{
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 0px) and (max-width:369px) {
    .volume_level_container{
        height: 70%;
    }
   .gradient{
        font-size: 2.2rem;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
   }
   .mobile{
        width: 100%;
        height: 48%;
    }
   .volume_level_container{
        width: 90%;
   }
   .top_display_container{
        font-size: 0.7rem;
        height: 65%;
   }
   .top_display_font{
        margin: 0 auto;
        width: 90%;
        height: 70%;
    }
    .description_container{
        margin: 0 auto;
        width: 76%;
        font-size: 0.7rem; 
    }
    .description{
        height: 80%;
    }
    .footer_container{
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .button_container{
        height: 45%;
}
    .btn{
        font-size: 0.9rem;
    }
}




























































/* 

  @media screen and (min-width: 601px) and (max-width:820px){
    .mobile{
        display : none;
    }
    .desktop{
        display : none;
    }
  }

  @media screen and (min-width: 601px) and (max-width:820px) and (min-height : 920px){
    .mobile{
        display : none;
    }
    .desktop{
        display : none;
    }
  }

  @media screen and (min-width: 601px) and (max-width:820px) and (min-height : 1100px){
    .mobile{
        display : none;
    }
    .desktop{
        display : none;
    }
  }

  @media screen and (min-width: 821px){
    .mobile{
        display : none;
    }
    .tablet{
        display : none;
    }
  }

  @media screen and (min-width: 821px) and (min-height : 700px){
    .mobile{
        display : none;
    }
    .tablet{
        display : none;
    }
  } */